<?xml version="1.0"?>

<config>
    <modules>
        <Converdo_Analytics>
            <version>1.2.5.0</version>
        </Converdo_Analytics>
    </modules>
    <global>
        <models>
            <analytics>
                <class>Converdo_Analytics_Model</class>
            </analytics>
        </models>
        <blocks>
            <analytics>
                <class>Converdo_Analytics_Block</class>
            </analytics>
        </blocks>
        <helpers>
            <analytics>
                <class>Converdo_Analytics_Helper</class>
            </analytics>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Converdo_Analytics>
                    <files>
                        <default>Converdo_Analytics.csv</default>
                    </files>
                </Converdo_Analytics>
            </modules>
        </translate>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <analytics_order_success>
                        <class>analytics/observer</class>
                        <method>onCheckout</method>
                    </analytics_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <analytics_order_success>
                        <class>analytics/observer</class>
                        <method>onCheckout</method>
                    </analytics_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
        <layout>
            <updates>
                <analytics>
                    <file>analytics.xml</file>
                </analytics>
            </updates>
        </layout>
        <routers>
            <Converdo_Analytics>
                <use>standard</use>
                <args>
                    <module>Converdo_Analytics</module>
                    <frontName>converdoanalytics</frontName>
                </args>
            </Converdo_Analytics>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Converdo_Analytics>
                    <files>
                        <default>Converdo_Analytics.csv</default>
                    </files>
                </Converdo_Analytics>
            </modules>
        </translate>
        <layout>
            <updates>
                <namespace_module>
                    <file>converdoanalytics.xml</file>
                </namespace_module>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <Converdo_Analytics>
                <use>admin</use>
                <args>
                    <module>Converdo_Analytics</module>
                    <frontName>analytics</frontName>
                </args>
            </Converdo_Analytics>
        </routers>
    </admin>
    <default>
        <converdo>
            <advanced>
                <checkoutpath>/checkout/onepage</checkoutpath>
            </advanced>
        </converdo>
    </default>
</config>
